/* Main colors assignment */
/* https://coolors.co/000000-333333-ce9c27-f0b62d-e5e5e5-ffffff */
html,
body {
	scroll-behavior: smooth;
}
.card img {
	width: 100%;
	height: 100%;
}
body {
	background: url('pictures/popcorn.jpeg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(000, 000, 000, 0.28);
}

.jumbotron,
.page-footer {
	background-color: black;
	color: white;
}

.navbar,
.btn,
.dropdown-date,
#program .nav-tabs .nav-item > .nav-link:not(.active) {
	background-color: #f0b62d;
}

.page-footer a,
.video-control-button:hover,
.nav-link.active,
.card-body .fas,
.card-body .far,
.carousel-caption a {
	color: #f0b62d !important;
}

.page-footer a:hover,
.carousel-caption a:hover {
	color: #ce9c27 !important;
}

.navbar-brand,
.nav-item > a {
	color: #333333;
}

.navbar-brand:hover,
.nav-item > a:hover,
#program .nav-tabs .nav-item > .nav-link:not(.active):hover {
	color: black;
}

/* Sticky navbar adjustments */
.navbar {
	z-index: 99;
}
@media (max-width: 767.98px) {
	.navbar-brand {
		margin-left: 1rem;
	}
}
.navbar.sticky-top {
	padding: 0;
	box-shadow: 0px 1px 5px #777777;
	margin-bottom: 4.5rem;
}
.nav-link {
	padding: 0.8rem;
}
.navbar .nav-item {
	min-width: 90px;
	text-align: center;
}
.nav-item > a:hover {
	font-weight: 600;
}
.nav-link.active {
	background-color: black;
	border-color: black;
}
.navbar-toggler {
	border-color: #666666 !important;
	margin-right: 1rem;
}

/* Main borders and shadow */
#carouselMoviePreview,
.card,
#program .tab-pane > .row {
	border: 1px solid #666666;
	border-radius: 5px;
}

.playing-shadow {
	box-shadow: 0px 5px 60px #999999;
}

/* Program */
#program .nav {
	border: none;
}
#program .card {
	border: 1px solid black;
}
#program .nav-item > .nav-link.active,
#program .tab-content {
	background-color: black;
}
#program .nav-tabs .nav-item > .nav-link {
	border: 1px solid #666666;
	min-width: 110px;
}
@media (max-width: 575.98px) {
	#program .nav-tabs .nav-item > .nav-link {
		min-width: 0px;
		max-width: 85px;
		font-size: 14px;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}
#program .nav-item > .nav-link.active {
	border-bottom-color: black;
}
#program .nav-item > .nav-link {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	color: #333333;
}
.jacket-picture-wrapper {
	position: relative;
}
.trailer-indicator {
	position: absolute;
	bottom: 5px;
	border-radius: 15px;
	width: 74px;
	left: calc(50% - 37px);
	background-color: #f0b62d;
	font-size: 14px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	padding: 0;
}
.jacket-title-time {
	background-color: #e5e5e5;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 15px;
	float: right;
	box-shadow: 0px 1px 3px #666666;
}

/* buttons */
.btn-shadow {
	box-shadow: 0px 5px 10px #666666;
}
.btn {
	border-color: transparent;
	color: black;
}
.btn:hover,
.btn:focus,
.btn:active {
	background-color: #ce9c27;
	border-color: transparent;
	color: black;
}
.btn-round {
	margin: auto;
	display: grid;
	width: 150px;
	border-radius: 25px;
}

/* Some important spacing and stuff*/
.card {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#program .card {
	margin: 1rem;
}

@media (min-width: 768px) {
	#carouselMoviePreview {
		margin-top: 5.5rem;
		margin-bottom: 2.5rem;
	}

	.card,
	#program {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
}

#program .card {
	margin: 1rem;
}
@media (min-width: 768px) {
	.card.news-1,
	.card.news-2,
	.card.gmap {
		margin-left: 1rem;
	}
	#footer {
		margin-top: 4.5rem !important;
	}
}

.card.news-1 {
	margin-top: 1.6rem;
}
.program-title {
	padding-bottom: 0.5rem;
}
p {
	margin-bottom: 0.8rem;
}
.bold-label {
	font-weight: 600;
}
.card-body {
	padding: 0.75rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
.text-muted {
	position: absolute;
	bottom: 0.5rem;
}

/* Hero Jumbotron*/
.jumbotron {
	margin-bottom: 0px;
	/*box-shadow: inset 0 -35px 80px -35px #999999;*/
	box-shadow: inset 0 -25px 80px -35px #999999;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.logo-large {
	max-width: 280px;
	margin-left: -12px;
	margin-bottom: 0.8rem;
}

/* Branding */
.navbar-brand {
	font-weight: 600;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.7s linear;
}
.navbar-brand-title-U {
	font-size: 26px;
}
.little-logo {
	max-height: 30px;
	padding-bottom: 8px;
}

/* Carousel */
.carousel-indicators {
	margin-bottom: 0.8rem;
}
.carousel-caption {
	opacity: 0.55;
	left: 0;
	width: 100%;
	bottom: 0px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 0) 100%);
	max-height: 110px;
}
/* Slow down carousel transition */
.carousel-item {
	transition: transform 1.3s ease-in-out, -webkit-transform 1.3s ease-in-out;
}
.carousel-caption > p {
	padding-bottom: 1rem;
}
.carousel-caption {
	max-height: 120px;
}

#carouselMoviePreview {
	max-width: 1110px;
	max-height: 452px;
	min-height: 232px;
}
video,
.carousel-item-left,
.carousel-item-right,
.carousel-inner,
.carousel-item,
.carousel-item-next {
	width: 100%;
	max-width: 1110px;
	max-height: 450px;
	min-height: 230px;
	background-color: black;
	border-radius: 5px;
}

/* Map */
#gmap {
	overflow: hidden;
	background: none !important;
	min-height: 655px;
	border-radius: 5px;
}

/* Form */
.dropdown-menu-title-wrapper {
	position: absolute;
	top: 5px;
	left: 90px;
}
.dropdown-menu-title {
	position: absolute;
	z-index: 999;
	pointer-events: none;
	cursor: default;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #495057;
	opacity: 0.8;
	font-size: 14px;
}
.dropdown-menu-list {
	list-style: none;
	padding: 1rem;
	padding-bottom: 0;
}
.movie-checkbox {
	margin-left: 1rem;
}
#dropdown-menu-movie-items {
	padding-bottom: 0;
}
.dropdown-date {
	font-weight: 600;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	margin-bottom: 0.5rem;
}
.dropdown-movie-title {
	padding-left: 0.5rem;
}
.input-group {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}
#registration-form .btn {
	margin-bottom: 0.6rem;
	float: right;
	min-width: 85px;
}
.form-check-label,
.footer-copyright {
	font-size: 13px;
}
input[type='checkbox'] {
	top: 2px;
}
@media (max-width: 575.98px) {
	.movie-checkbox {
		margin-left: 0.2rem;
	}
	.dropdown-movie-title {
		font-size: 14px;
		padding-left: 0.3rem;
	}
}

/* Registration modal */
#registration-modal p {
	margin-bottom: 0;
}

/* Footer */
#footer {
	margin-top: 3.5rem;
}
#footer .clearfix {
	background-color: #333333;
}
.footer-copyright {
	padding-top: 0.4rem;
	padding-bottom: 1.5rem;
}
@media (min-width: 575.98px) {
	#newsletter-input {
		min-width: 270px;
	}
}
#footer .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* Social media */
.socials {
	margin-top: 1.2rem;
}
.btn-social {
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-social:hover > .fa-facebook {
	color: #0c86ef;
}
.btn-social:hover > .fa-twitter {
	color: #1da1f2;
}
.btn-social:hover > .fa-instagram {
	color: #d03d8f;
}
.btn-social:hover > .fa-linkedin {
	color: #0077b5;
}
.btn-social:hover > .fab {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

/* Video control */
:root {
	--video-control-icon-half-size: 32px;
}
.video-control {
	position: absolute;
	top: calc(50% - var(--video-control-icon-half-size));
	left: calc(50% - var(--video-control-icon-half-size));
	z-index: 9;
}
.video-control-button {
	position: relative;
	opacity: 0;
}
.video-control-button:hover {
	cursor: pointer;
}
@media (max-width: 767.98px) {
	.video-control-button {
		opacity: 0.8;
	}
}

/* Section title */
h3 {
	color: white;
	overflow: hidden;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}
h3:before,
h3:after {
	background-color: #666666;
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
h3:before {
	right: 0.5em;
	margin-left: -50%;
}
h3:after {
	left: 0.5em;
	margin-right: -50%;
}

.garden-friends-logo {
	max-height: 50px;
	margin-bottom: 0.2rem;
}

#programSeparator {
	padding-bottom: 2rem;
}

/* Popcorns */
.card {
	/*background-color: rgba(255,255,255, 0.95);*/
	background-color: white;
}
#program .tab-content {
	/* background-color: rgba(0,0,0, 0.9);*/
	background-color: black;
}

.more-news {
	font-weight: 600;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.5rem;
	margin-left: 1.5rem;
	padding-bottom: 4px;
}

.more-news-row {
	margin-left: auto;
	margin-right: auto;
	width: 175px;
}
